{% form_theme form 'form/fields.html.twig' %}
{% extends '::layout-admin.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="page-header">Crear acuerdo</h1>

        {{ form_start(form) }}
        <div class="row container-fluid">
            <div class="col-md-4">

                {# Reunion #}<!--Estos seran dos select q dependeran el uno del otro una vez q seleccione la reunion
                se enviara por ajax y el otro select se poblara con los temas q posee dicha reunion seleccionada-->
                {# Tema#}
                {{ form_row(form.reunion) }}
                <div class="form-group">
                    <div class="list-temas">
                        {{ include('AcuerdosGestionBundle:Acuerdo:temas.html.twig') }}
                    </div>
                </div>
                {#{{ form_row(form.idAcuerdo) }}#}
                {{ form_row(form.descripcion) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a class="btn btn-default" href="{{ path('acuerdo') }}">
                        Back to the list
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                {{ form_row(form.estado) }}
                {{ form_row(form.fechaCumplimientoIndicada) }}
                {#Responsables#}
                {#{{ form_row(form.personas) }}#}
                <div class="form-group">
                    <label>Responsabes</label>
                    <select class="form-control selectpicker"
                            name="select-responsab-disponibles[]"
                            id="select-part-responsables"
                            data-size="8"
                            multiple data-actions-box="true"
                            data-live-search="true"
                            title="Seleccione los responsables"
                    >
                        {% for area in areas %}
                            <optgroup label="{{ area.area }}">
                                {% for persona in area.personas %}
                                    <option value="{{ persona.id }}">{{ persona.descripcion }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div><!--.form-group-->

            </div><!-- /.col-md-4-->
            <div class="col-md-4">

            </div><!-- /.col-md-4-->
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

